html, body{
  width: 100%;
  height: 100vh;
}

body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #EFEFEF;
  color: #333333;
}

header {
  background-color: #2B2B2B;
  height: 175px;
}

.raleway {
  font-family: 'Raleway';
}

nav {
  margin-top: 80px;
  float: left;
  width: 70%;
}

ul {
  list-style-type: none;
}

li {
  margin: 0;
  float: left;
  font: 'Open Sans';
  font-weight: 300;
  color: #AAAAAA;
}

#bees {
  color: #FFFFFF;
}

#aluminum:hover {
  color: #FFFFFF;
  transition-duration: 0.3s;
}

#draw:hover {
  color: #FFFFFF;
  transition-duration: 0.3s;
}

.nav-icons {
  height: 20px;
  float: left;
  display: block:
}

.house-icon {
  margin: 0 10px 0 -15px;
}

.molecule-icon {
  margin: 0 0 0 12px;
  height: 22px;
}

.pencil-icon {
  margin: 0 10px 0 20px;
}

#sign-in {
  padding: 3px 10px 0 0;
  display: flex;
  justify-content: flex-end;
}

#picture-icon {
  height: 35px;
}

#arrow-icon {
  padding-top: 9px;
  margin-right: 16px;
  height: 15px;
}

.user-name {
  float: right;
  font-size: 12px;
  font-weight: 400;
  color: #CB0066;
  padding: 8px 15px 0 0;
  margin-left: -5px;
}

#buseylogo {
  position: absolute;
  height: 160px;
  right: 22px;
  top: 20px;
}

h2 {
  font-size: 48px;
  color: #FFFFFF;
  float: right;
  margin-left: 20px;
  margin-top: 25px;
}

h1 {
  margin: 30px 0 10px 15px;
}

#box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  display: inline-block;
  width: 280px;
  height: 420px;
  margin: 15px;
  box-shadow: 2px 1px 1px #999999;
  background-color: #999999;
  background-blend-mode: multiply;
}

.box:hover {
  box-shadow: 4px 2px 2px #999999;
  background-blend-mode: normal;
}

#box-1 {
  background-image: url(images/busyfamily.jpg);
  background-size: cover;
}

#box-2 {
  background-image: url(images/predator2.jpg);
  background-size: contain;
}

#box-3 {
  background-image: url(images/pointbusey.jpg);
  background-size: contain;
}

#box-4 {
  background-image: url(images/sheepbusey.jpg);
  background-size: contain;
}

#box-5 {
  background-image: url(images/lethalbusey.jpg);
  background-size: 330px;
}

#box-6 {
  background-image: url(images/firmbusey.jpg);
  background-size: 330px;
}

#box-7 {
  background-image: url(images/busyfamily.jpg);
  background-size: cover;
  background-position: 0 170px
}

#box-8 {
  background-image: url(images/buseythumbs.jpg);
  background-size: contain;
}

.top-image {
  width: 50px;
  margin: 10px 0 0 10px;
  position: absolute;
}

.top-section {
  width: 100%;
  height: 40%;
}

.text-container {
  margin-top: 60%;
  background-color: #FFFFFF;
  width: 100%;
  height: 60%;
}

h3 {
  width: %80;
  padding: 4% 0 1%;
  margin: 0 5% 0;
  font-weight: 700;
}

.box p {
  width: %80;
  margin: 0 5% 3%;
  font-size: 12px;
  color: #999999;
}

h4{
  width: %80;
  margin: 0 5% 0;
  font-weight: 300;
}

h5{
  width: %80;
  margin: 4% 5% 0;
  font-weight: 400;
}

h6{
  color: #CB0066;
  font-size: 48px;
  width: %80;
  margin: -3% 5% 0;
  font-family: 'Raleway';
  font-weight: 300px;
}

.links {
  margin: 0 auto;
  padding-left: 5px;
  width: 90%;
  height: 20%;
  background-color: #DDDDDD;
}

a {
  color: #777777;
  font-size: 12px;
  text-decoration: none;
  margin: auto;
}

@media screen and (max-width: 660px)
{
  nav {
    margin-top: 0;
  }

  ul {
    display: flex;
    flex-direction: column;
  }

 .nav-icons {
   visibility: hidden;
}

  #box-1 {
    background-size: 400px;
    background-position: -100px 0;
  }

  #box-2 {
    background-position: -100px 0;
    background-size: 600px;
  }

  #box-3 {
    background-size: 400px;
  }

  #box-4 {
    background-size: 700px;
    background-position: -100px;
  }

  #box-5 {
    background-size: 700px;
    background-position: -300px;
  }

  #box-6 {
    background-size: 750px;
    background-position: -300px;
  }

  #box-7 {
    background-size: 600px;
    background-position: -200px -375px;
  }

  #box-8 {
    background-size: 700px;
    background-position: -300px;
  }

  h3 {
    margin: 20px 10px 0px;
  }

  h5 {
    margin: 35px 10px 0px;
  }

  .links {
    height: 27%;
  }

  .box p{
    margin: 0px 10px 40px;
  }

  .box {
    width: 90%;
    display: flex;
  }

  .text-container {
    width: 50%;
    height: 100%;
    margin: 0 0 0 50%;
  }

  .top-section {
    height: 100%;
    width: 50%;
  }
}

@media screen and (max-width: 400px){
  #box-2 {
    background-position: -190px 0;
  }

  #box-3 {
    background-position: -100px 0;
  }

  #box-4 {
    background-position: -200px;
  }

  #box-5 {
    background-position: -350px;
  }

  #box-6 {
    background-position: -350px;
  }

  #box-7 {
    background-size: 600px;
    background-position: -200px -375px;
  }

  #box-8 {
    background-size: 700px;
    background-position: -300px;
  }

  h5 {
    margin: 20px 0px 0px 10px;
  }

  .nav-icons {
    visibility: visible;
  }

  .menu-option {
    visibility: hidden;
  }

  .house-icon {
    margin-left: 20px;
  }

  .molecule-icon {
    margin-top: 10px;
    margin-left: 8px;
  }

  .pencil-icon {
    margin-top: 10px;
  }
}
